<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink='/homepage'>Be Ready</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="adminPage">admin</a>
          <a class="nav-link" routerLink="teacher">Questions</a>
          <a class="nav-link" routerLink="courses">Courses</a>
          <a class="nav-link">Register</a>
        </div>
      </div>
      <form class="d-flex">
        <a routerLink='login'ß>
          <button class="btn btn-outline-success" type="submit" (click)="logout()">{{buttonText}}</button>
        </a>
      </form>
    </div>
  </nav>